
<!-- <div style="display: flex"> -->
<span *ngFor="let card of cards">
<!-- <input type="text" (click)="openDiag(card.id)" [value]="card.name" [id]="card.id"/> -->
<mat-card (click)="openDiag(card.id)" [id]="card.id">
    {{card.name}}
</mat-card>
<br/>
</span>

<!--  <input #newCard placeholder="add new card"
   (keyup.enter)="handleAdd(id,newCard.value)"
   (blur)="handleAdd(id,newCard.value); newCard.value=''"/> -->

   <input #variable type="text" placeholder="add new card"

    (keyup)="onKey($event)"/>
  <!-- <button (click)="handleAdd(id,newCard.value)">  -->
    <button (click)="handleAdd(id,variable.value); variable.value=''">
    add
  </button>
<!-- </div> -->

