<div class="header">
  <!-- div 1 -->
  <div>

    <!-- Home  -->
    <button mat-raised-button style="background-color:rgba(0,0,0,.35)">
      <mat-icon style="color:white" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </button>

    <!-- Boards -->
    <button mat-raised-button style="background-color:rgba(57, 57, 66, 0.733);">
      <img src="https://img.icons8.com/color/48/000000/trello.png" style="width: 25px;">
      <b style="color:white">Boards</b></button>

    <!-- Search -->
    <input type="search" value='' style="background-color:rgba(57, 57, 66, 0.733); border:none  " />
    <span>
      <button style="border:none;">
        <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png"
          style="width: 20px" />
      </button>
    </span>
  </div>
  <!-- div 2 -->
  <!-- trello logo -->
  <div><img src="../assets/trello-logo/trello-logo-blue.png" width=80px></div>

  <!-- div3 -->
  <!-- menu -->
  <div class="div3">
    <mat-card>
      <h4>+</h4>
    </mat-card>
    <mat-card>
      <img src="../assets/trello-logo/round-info-button.png" width=18px height=18px alt="">
    </mat-card>
    <mat-card>

      <img src="../assets/trello-logo/icons8-notification-50.png" width=18px height=18px />
    </mat-card>
    <span class="circle"><b>A</b></span>
  </div>

</div>

<!-- navigation -->


<div class="nav">
  <span>
    <h2>KaaryaShala</h2>
  </span>

</div>



<br />



<app-list class="a"></app-list>
