.a {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  /* height: 100%; */


}

.header {
  display: flex;
  justify-content: space-between;
  /* background-color: gray; */
  /* background-color: #026aa7; */
  background-color: rgba(0, 0, 0, .32);
  justify-items: center;
  align-items: center;
  padding: 4px;
  /* height:20px; */
}

.nav {
  display: flex;
  /* background-color: rgb(77, 77, 95); */
  background-color: rgba(0, 0, 0, .42);
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.div3 {
  display: flex;
  align-items: center;
}

.circle {
  background: white;
  color: black;
  padding: 5px 20px;
  border-radius: 50%;
  font-size: 35px;
}
