<!-- <div *ngFor="let a of arr">
  <input type="checkbox" [defaultChecked]="a.state=='complete'? true : false" ><span [ngClass]="a.state=='complete'? 'line' : 'none'">{{a['name']}}</span><button>X</button>
</div> -->

<!-- <div style="display: flex"> -->
<div *ngFor="let l of list" >
 <!-- <div class="box"> -->
   <mat-card class="listClass">
  <h4>{{l.name}}</h4>
  <!-- cards by list -->
<app-card [id]="l.id"></app-card>
 <!-- <div> <input type='text' [value]="l.name"></div> -->
 <!-- <div style="display: flex"> <input #newCard placeholder="add new card" (keyup.enter)="handleAdd(l['id'],newCard.value)" (blur)="handleAdd(l['id'],newCard.value); newCard.value=''"/>   <button (click)="handleAdd(l['id'],newCard.value)">add</button></div> -->
<!-- </div> -->

</mat-card>
</div>

    <mat-card class="add-new" mat-button *ngIf="condition; else elseBlock" (click)="handleShow()"><h3>+ add a list</h3></mat-card>
    <ng-template #elseBlock>
    <input type='text' #reference />
    <button (click)="handleAdd(reference.value); reference.value=''">add</button>
    </ng-template>


<!-- </div> -->

