
.listClass {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(155, 174, 196, 0.938); */
background-color: #dfe1e6;
/* border-radius: 3px; */
/* white-space: normal; */
}
.add-new{
  width: 200px;
}
