<div *ngFor="let b of arr">
  <h3>{{b.name}}</h3>
  <div *ngFor="let a of b['checkItems']">
    <input type="checkbox" (change)="handleChecked(a['id'],a['state'])" [defaultChecked]="a.state=='complete'? true : false" />
    <span [id]="b['id']"  [ngClass]="a.state=='complete'? 'line':'none'">
      {{a['name']}}
    </span>
    <button (click)="handleDelete(b['id'],a['id'])">
      X
    </button>
  </div>
  <input type='text' #reference />
  <button (click)="addCheckItem(reference['value'], b['id']); reference.value=''">add</button>
</div>
<input type='text' #reference />
<button (click)="addCheckList(reference.value); reference.value=''">Add checkList</button>
