/* You can add global styles to this file, and also import other style files */
body{
  /* overflow-x:scroll; */
  /* overflow-y: hidden; */
background-image: url('./assets/trello-logo/j-kelly-brito-PeUJyoylfe4-unsplash.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
height: 100%;
background-size: cover;
background-position: center;
/* width:100%; */
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
